<!-- <input (input)="setSignal($event)" />
<input (input)="updateSignal($event)" />

<h1>signal {{count()}}</h1> -->
<style>
.color {
    /* background-color: rgb(71, 70, 70);  */
    /* color: rgb(169, 169, 169);  */
}
</style>

<button class="color" [routerLink]="['/componentA']">click here A</button>
<button class="color" routerLink='/componentB'>click here B</button>
<!-- <button class="color" (click)="componentC()">click here C</button> -->
<!-- <button class="color" (click)="componentCComFragment()">click here C com fragment</button> -->

<router-outlet></router-outlet>
<router-outlet name="secondary"></router-outlet>
